.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
}

.card-registration .select-arrow {
    top: 13px;
}

.bottone{
    outline: none !important;
    box-shadow: none !important;
    background-color: #2ABFBF !important;
    color: white;
    transition: transform 0.3s ease;
}

.bottone:hover {
    transform: scale(1.2); 
}

.bootstrap-tagsinput {
    width: 100%;
    padding: 0;
    border: none;
    box-shadow: none;
    background: transparent;
}

.bootstrap-tagsinput input {
    border: none;
    background: transparent;
    box-shadow: none;
    outline: none;
    padding: 0;
    height: 0;
}

.bootstrap-tagsinput .tag {
    background-color: #007bff;
    color: white;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 2px;
    margin-top: 10px;
    display: inline-block;
    position: relative;
}

.bootstrap-tagsinput .badge {
    margin-bottom: 10px !important;
}
