.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    body{
        font-family: 'Montserrat', sans-serif;
        display: flex;
        flex-direction: column;
    }

    .bottone{
        outline: none !important;
        box-shadow: none !important;
        background-color: #2ABFBF !important;
        color: white;
        transition: transform 0.3s ease;
    }
    
    .bottone:hover {
        transform: scale(1.2); 
    }

    html, body {
        height: 100%;
    }
    
    section {
        flex-grow: 1; /* Occupa lo spazio disponibile */
    }

    /* Assicura che il footer non alteri il layout */
    #footer-container {
    width: 100%;
    margin-top: auto;
  }
    
    