* {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: #2ABFBF;
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
    margin-top: 60px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 40px;
}

.navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.navigation ul li:hover {
    background-color: white;
}

.navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding-top: 3px;
    padding-bottom: 3px;
}

.navigation ul li:hover a {
    color: #727273;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

.navigation ul li a .icon i {
    font-size: 1.75rem;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
}

/*curva fuori*/
.navigation ul li:hover a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px white;
    pointer-events: none;
}

.navigation ul li:hover a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px white;
    pointer-events: none;
}

.content {
    display: none;
    margin-top: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    justify-content: flex-start; /* Allinea gli elementi all'inizio */
}

.main {
    position: absolute;
    left: 300px;
    width: calc(100% - 300px); /* La larghezza della main si adatta accanto alla navigation */
    margin-top: 20px;
}

.card {
    text-align: center;
    margin: 10px;
    box-shadow: 0 7px 25px rgba(94, 94, 94, 0.8);
    font-size: 15px;
    flex: 1 1 calc(33.3333% - 20px); /* Le card si distribuiscono in 3 colonne */
    box-sizing: border-box; /* Assicura che le card non escano dallo spazio disponibile */
}

.card-title {
    text-align: center;
}

.btn {
    display: block;
    margin: 0 auto;
    font-size: 15px;
}

.btn-primary {
    background-color: #2abfbf !important;
    border-color: #2abfbf !important;
    color: #fff !important;
    border-radius: 20px !important;
}

.btn-primary:hover {
    background-color: #269c9c !important;
    border-color: #269c9c !important;
    border-radius: 20px !important;
}

/* media query per 768px*/
@media screen and (max-width: 768px) {
    .title {
        display: none !important;
    }

    .navigation {
        width: 200px;
    }

    .main {
        left: 220px;
        width: calc(100% - 220px); 
    }

    .row {
        justify-content: space-between; 
    }

    .card {
        flex: 1 1 calc(50% - 20px); 
    }

    .btn {
        font-size: 14px;
        padding: 7px 14px;
    }
}
/* media query per 576px*/
@media screen and (max-width: 576px) {
    .title {
        display: none !important;
    }

    .navigation {
        width: 124px;
    }

    .main {
        left: 130px;
        width: calc(100% - 130px); 
    }

    .row {
        justify-content: space-between; 
    }

    .card {
        flex: 1 1 100%;
    }

    .btn {
        font-size: 12px;
        padding: 5px 10px;
    }
}
