* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Montserrat", sans-serif !important;
}
.dashboard-title {
    margin-left: 11px;
    color: grey;
}

.card {
    width: 100%; 
    padding: 20px;
}

.nav-link.active, .nav-pills .show > .nav-link {
    background-color: #2abfbf !important; 
    border-color: #2abfbf !important; 
    color: #fff !important; 
    border-radius: 0 !important;
}
.nav-link, .nav-pills .show > .nav-link {
    color: #000000 !important; 
    border-radius: 0 !important;
}
.pagination .page-link {
    color: black; 
}
.pagination .page-item.active .page-link {
    background-color:#2abfbf; 
    border-color:#2abfbf; 
}




/* media query*/


@media screen and (max-width: 768px) {
    .user-img, #photo {
        width: 100px;
        height: 100px;
    }

    #uploadbtn {
        margin-top: 80px;
        transform: translateX(-50%);
        left: 50%;
    }

    .info {
        margin: 40px 10px;
    }

    .titoloPrenotazioni {
        margin: 30px 0;
    }

    .container {
        margin-top: 10px;
    }
}


@media screen and (max-width: 480px) {
    .user-img, #photo {
        width: 90px;
        height: 90px;
        margin: 5% auto;
    }

    #uploadbtn {
        margin-top: 60px;
        transform: translateX(-50%);
        left: 50%;
    }

    .info {
        margin: 30px 10px;
    }

    .input-container input {
        font-size: 14px;
    }

    .titoloPrenotazioni {
        margin: 20px 0;
    }
}



