
.card{
  width: 400px;
 justify-content: center;
 align-items: center;
 border-radius: 20px;
 overflow: hidden;
 box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
#contenitore{
  display: flex;
  justify-content: center;
  align-items: center;
}
.little{
  margin-right: 5px;
}
img{
  width: 100%;
}
.card-body{
text-align: left;
}
form{
display: flex;
text-align: center;
margin: 50px;
justify-content: center;

}
#dott{
  border-radius: 20px;
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
#invio{
  border-radius: 20px;
  display: flex;
  justify-content: center; /* Centra orizzontalmente */
  align-items: center;
}
#invio,.btn-btn-primary,button {
  background-color: #2abfbf !important; /* Cambia il colore di sfondo */
  border-color: #2abfbf !important; /* Cambia il colore del bordo */
  color: #fff !important; /* Cambia il colore del testo */
}
#invio,.btn-btn-primary,button {
  background-color: #269c9c !important; /* Cambia colore al passaggio del mouse */
  border-color: #269c9c !important;
  border-radius: 20px;
}