* {
    margin: 0;
    padding: 0;
}
.input-container {
    position: relative;
}
  
 .input-container input {
    width: 100%;
    padding-right: 32px; 
}
  
.input-container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    cursor: pointer;
}
  
#eyeIcon {
    right: 40px; 
}
  
 #eyeSlashIcon {
    right: 40px; 
    display: none; /*  nascosto */
}
  
.fa-solid.fa-pen {
    right: 10px;
    font-size: 18px;
}

.titoloPrenotazioni {
    text-align: center !important;
    margin: 50px 0 50px 0 !important;
}
