body{
    background: #f7f7ff;
    margin-top:20px;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: .25rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
}
.me-2 {
    margin-right: .5rem!important;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: auto;
}


.panel-heading {
    padding: 15px 10px 15px 10px;
    border-bottom: 0px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #f5f6f8;
    border-color: none!important;
}

.btn-primary, .btn-danger, .btn-white, .btn-cprimary {
    background-color: #2ABFBF !important;
    border-color: #2ABFBF !important;
    color: #fff !important;
}

.btn-primary:hover, .btn-danger:hover, .btn-white:hover, .btn-cprimary:hover {
    background-color: #269c9c !important;
    border-color: #269c9c !important;
}

.profile-content h3{
    margin:15px 0 10px 0!important;
	}

.stats {
    width: 100%;
    margin: 30px auto;
    text-align: center;
    display: table;
    }

.stats .statis {
    display: table-cell;    
    width: 25%;
    vertical-align: top;
    }

.ibox-content {
	background-color: #FFFFFF;
	color: inherit;
	padding: 0px 20px 20px 20px;
	}

.feed-activity-list .feed-element {
	border-bottom: 1px solid #E7EAEC;
	}

.feed-element {
	padding: 15px 0 15px 0;
	}

.feed-element img.img-circle, .dropdown-messages-box img.img-circle {
	width: 38px;
	height: 38px;
	}

.feed-element > .pull-left {
	margin-right: 10px;
	}

.feed-element .well {
	border: 1px solid #E7EAEC;
	box-shadow: none;
	margin-top: 10px;
	margin-bottom: 5px;
	padding: 10px 20px;
	font-size: 11px;
	line-height: 16px;
	}

.img-circle {
	border-radius: 50%;
	}

.text-navy {
	color: #1AB394;
	}

.feed-element .actions {
	margin-top: 10px;
	}

.feed-photo {
	height: 180px;
	border-radius: 4px;
	overflow: hidden;
	margin-right: 10px;
	margin-bottom: 10px;
	}

.btn-white {
	color: inherit;
	background: white;
	border: 1px solid #E7EAEC;
	}

.btn {
	border-radius: 3px;
	}

.btn-cprimary {
	background-color: #f5f6f8;
	border-color: #f5f6f8;
	color: #333;
	}

.btn-danger {
	background-color: #ef5352;
	border-color: #ef5352;
	color: #FFFFFF;
	}

.btn {
	border-radius: 3px;	
	}

@media(min-width: 768px) and (max-width: 991px) {
		.feed-photo {
			width: 100%;
			height: 350px!important;
			border-radius: 4px;
			overflow: hidden;
			margin-right: 10px;
			margin-bottom: 10px;
			}

		.btn-primary{
			margin: 15px auto;
			}
}

@media(min-width: 480px) and (max-width: 767px) {
		.feed-photo {
			width: 100%;
			height: 300px!important;
			border-radius: 4px;
			overflow: hidden;
			margin-right: 10px;
			margin-bottom: 10px;
			}
		
		.btn-primary{
			margin: 15px auto;
			}
}

@media(max-width:480px) { 
		.feed-photo {
		width: 100%;
		border-radius: 4px;
		overflow: hidden;
		margin-right: 10px;
		margin-bottom: 10px;
		}


.btn-primary{
	margin: 15px auto;
	margin-top: 14px;
}
}

.input-container {
	position: relative;
}
  
.input-container input.form-control {
	padding-right: 40px; 
}
  
.input-container i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}
  
.input-container i.fa-regular.fa-eye-slash {
	right: 40px; 
	display: none; 
}
  
.input-container i.fa-regular.fa-eye {
	right: 40px; 
}

.input-container i.fa-solid.fa-pen {
	right: 10px;
}
  

.minuti {
	font-size: 13px;
}

.titoloPrenotazioni {
	text-align: center;
	color: #616161;
	margin: 50px 0 50px 0;
}
