.card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* Assicura che il titolo parta sempre dall'alto */
  align-items: center;
}

.card-title {
  display: flex;
  align-items: center;
}

.list-group {
  width: 100%;
}

.list-group-item {
  text-align: center;
}

.card .btn {
  margin-top: 10px;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

.btn-primary {
  background-color: #2abfbf !important; /* Cambia il colore di sfondo */
  border-color: #2abfbf !important; /* Cambia il colore del bordo */
  color: #fff !important; /* Cambia il colore del testo */
}

.btn-primary:hover {
  background-color: #269c9c !important; /* Cambia colore al passaggio del mouse */
  border-color: #269c9c !important;
}
